#OOPS IN PYTHON
Class - Real world entities. Example - Mobile
Objects - Specific instance of a class. Exammple - Motorola , Samsung , LG etc.
For representing above in programming language we require oops.

In [ ]:
# Creating first class.

class VKP:
  def get_name(self , name):
    self.name = name
  def show_name(self):
    return self.name

In [ ]:
res = VKP()
res.get_name('Vaibhav')
res.show_name()

'Vaibhav'

#Constructor

Here we define all parameters in one go.
For this we use initit python

In [ ]:
class Person:

    # init method or constructor
    def __init__(self, name , city):
        self.name = name
        self.city = city

    # Sample Method
    def say_hi(self):
        print('Hello, my name is', self.name)
        print('Hello, my city is', self.city)


# Creating different objects
p1 = Person('Nikhil' , 'Varanasi')


p1.say_hi()

Hello, my name is Nikhil
Hello, my city is Varanasi

#Inheritence

Here on class derived properties from other class.
Example- Fsmily and child features.

In [ ]:
# Creating first class.

class Vechicle:
  def __init__(self , name , milege , price):
    self.name = name
    self.milege = milege
    self.price = price
  def show_name(self):
    print('Hello, my car name is', self.name)
    print('Hello, car milege is', self.milege)
    print('Hello, it price is', self.price)

p = Vechicle('Scorpio' , 34 , 1400000)

In [ ]:
p.show_name()

Hello, my car name is Scorpio
Hello, car milege is 34
Hello, it price is 1400000

In [ ]:
class car(Vechicle):
  def show_car(self):
    print("I am its owner")

In [ ]:
p1 = car('Pajero' , 23 , 3500000)
p1.show_name()

Hello, my car name is Pajero
Hello, car milege is 23
Hello, it price is 3500000

In [ ]:
p1.show_car()

I am its owner

#Multilevel inheritence